@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Varela+Round&display=swap');

:root {
    --colorBody: black;
    --colorBG: rgb(0, 0, 0, 0.407);
    --colorText: #fff;
    --colorHigh1: #ffc600;
    --colorHigh2: #ffbe90;

    --fontNormal: 'Varela Round',
        sans-serif;
    --fontTitle: 'Amatic SC',
        sans-serif;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
        url("https://i.imgur.com/er8DtBW.jpg");
    background-size: cover;
    background-attachment: fixed;

    font-size: clamp(12px, 1em + 1vmin, 2.5em);
}

header {
    position: fixed;
    top: 0;
    text-shadow: 0.1em 0.15em #000;
    z-index: 1;
}

header nav {
    background-color: #000000b1;
    backdrop-filter: blur(1em);
    transform: scale(0.95) translateY(10%);

    & span {
        cursor: pointer;
        user-select: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

main {
    margin-top: 5em;
    max-width: 99vw;
    margin-right: auto;
    margin-left: auto;
}

button {
    font-family: var(--fontTitle);
    --btnColor: var(--colorHigh1);
    text-shadow: 0 0 0.5em #00000086;
    -webkit-text-stroke: 0.02em;
    line-height: 1em;

    background-color: var(--btnColor);
    border: none;
    outline: none;
    padding: 0.2em 0.5em;
    font-size: 1.5em;
    border-radius: 0.25em;
    color: #fff;
    font-weight: 900;

    cursor: pointer;
    user-select: none;
}

button:hover {
    filter: brightness(0.8) contrast(1.8);
}

button:active {
    transform: scale(0.98);
}

button.trans {
    color: var(--colorHigh1)
}

:where(h1, h2, h3) {
    width: min-content;
    -webkit-text-stroke: 0.02em;
    padding: 0 0.3em;
    margin: 0;
    border-bottom: solid 0.1em var(--colorHigh1);
    border-radius: 0.05em;
}

.dishView {
    backdrop-filter: brightness(0.8) blur(0.1em);
    transition: transform 0.4s ease-in-out;
    min-width: 300px;
    max-width: 50%;

    flex: 1;

    & img {
        width: 200px;
        border-radius: 0.5em;
        box-shadow: 0 0.75em 0.75em -0.5em #000000ba;
    }

    &>div {
        justify-content: space-between;
    }

    & .rate {
        cursor: pointer;
        padding: 0.2em;
        border-radius: 0.5em;
        background-color: rgba(0, 0, 0, 0.31);
    }

    &:hover {
        transform: scale(1.01);

        & .rate {
            background-color: var(--colorHigh1);

            & * {
                color: black !important;
            }

        }
    }
}

dialog {
    border: none !important;
    border-radius: 1em;
    box-shadow: 0 2em 2em -1em rgba(0, 0, 0, 0.55);
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.354);
    backdrop-filter: blur(0.2em);
}

body:not(.admin) .adminView {
    display: none;
}

.border {
    border: var(--colorHigh1) solid 0.1em;
}